.sitecolor {
	color: #05adab;
}

#logo {
	background: url(../../images/colors/green/logo.png) no-repeat left top;
    width: 100%;
    height: 100px;
    background-size: 100% auto;
}

.header ul.nav>li>a.active {
	color:#05adab;
}

.header ul.nav>li>a:hover.active {
	color:rgba(255, 255, 255, 0.95);
    border-radius: 10px;
}

.header ul.nav>li>a:hover {
	color:rgba(255, 255, 255, 0.95);
    background:  rgba(5, 173, 171, 0.5) ;
    border-radius: 10px;
}

.header ul.nav .dropdown li a em {
	background: #05adab;
}

.header ul.nav .dropdown li a em.soon {
	background: #ccc;
}

.featured_section4 {
	background-color: #05adab;
}

.featured_section5 .box:hover i {
	background: #05adab;
}

.counters6 h4 {
	color: #05adab;
}

.detached.tabs > ul > li.current span {
	background: #05adab;
}

.featured_section10 strong {
	color: #05adab;
}

.featured_section11 .box:hover {
	background: #05adab;
}

.button.two {
	color: #05adab;
}
.button.three {
	color: #fff;
	background: #05adab;
}
.button.five {
	color: #fff;
	background: #05adab;
}
.button.seven:hover {
	color: #fff;
	background: #05adab;
}
.button.eight {
	color: #fff;
	background: #05adab;
}
.button.nine {
	color: #fff;
	background: #05adab;
}
.button.ten {
	color: #fff;
	background: #05adab;
}

.pricingtable9 strong {
	color: #05adab;
}
.pricingtable9 b {
	color: #05adab;
}

.master-slider .ms-layer.sbut2 {
	color: #fff;
	background: #05adab;
}
.master-slider .ms-layer.sbut4 {
	color: #05adab;
}
.master-slider .ms-layer.sbut4:hover {
	color: #fff;
	background: #05adab;
}
.master-slider .ms-layer.text1.colored {
	color: #05adab;
}

.featured_section16 .box:hover h4,
.featured_section16 .box:hover span {
	color: #05adab;
}

.featured_section19 .ibox:hover i {
	color: #05adab;
}

.featured_section21 {
	background: #05adab;
}

.featured_section22 .one_fourth_big span {
	color: #05adab;
}

.featured_section26 .ibox {
	background: #05adab;
}
.featured_section26 .ibox.two {
	background: #4ccb6b;
}

.site_wrapper #sync4 .synced .item{
	color: #05adab;
}

.featured_section36 {
	background: #05adab;
}

.cforms_sty2 .button:hover {
	background: #05adab;
	border: 1px solid #05adab;
}
.cforms_sty3 .button {
	background: #05adab;
	border: 1px solid #05adab;
}

.featured_section39 i:hover {
	color: #05adab;
}

.logregform .feildcont .fbut {
	background: #05adab;
}

.site_wrapper .cbp-l-caption-buttonLeft:hover, .site_wrapper .cbp-l-caption-buttonRight:hover {
	background-color:#05adab;
}
.site_wrapper .cbp-l-grid-masonry-projects .cbp-caption-activeWrap {
	background-color:#05adab;
}
.site_wrapper .cbp-l-grid-masonry-projects-title {
	color:#05adab;
}



.site_wrapper .tabs3 li a:hover {
	color: #05adab;
}
.site_wrapper .tabs3 li.active a {
	color: #05adab;
}
.site_wrapper .tabs2 li.active a {
	background-color: #05adab;
}
.site_wrapper .tabs.side li.active a {
	background-color: #05adab;
}
.site_wrapper .tabs li.active a:after {
	border-right-color: #05adab;
}

.site_wrapper ul.tabs li.active, html ul.tabs li.active a,
.site_wrapper html ul.tabs li.active a:hover  {
	border-top: 1px solid #05adab;
}
.site_wrapper .tags li a:hover {
	background-color: #05adab;
}

.features_sec14 {
	background: #05adab;
}

.pritable .pacdetails.three {
	box-shadow: 0px -5px 0px #05adab;
}
.pritable .pacdetails.three .title strong {
	color: #05adab;
}
.pritable .pacdetails.three .bottom a {
	background: #05adab;
}
.pritable .pacdetails.three h6 {
	background: #05adab;
}

.site_wrapper .st-accordion-four ul li.st-open > a {
    color: #05adab;
}
.site_wrapper .st-accordion-four ul li > a {
    color: #05adab;
}
.site_wrapper .st-accordion-four ul li.st-open > a span{
	background: transparent url(../../images/colors/cyan/minus-color.png) no-repeat center center;
}
.site_wrapper .st-accordion-four ul li > a span{
	background: transparent url(../../images/colors/cyan/plus-color.png) no-repeat center center;
}
.site_wrapper .st-accordion-four ul li > a:hover{
    color: #05adab;
}
.site_wrapper .st-accordion ul li > a:hover{
    color: #05adab;
}

.site_wrapper .cd-timeline-content h2 { color: #05adab; font-weight: normal; margin-bottom: 0px;}
.site_wrapper .no-touch .cd-timeline-content .cd-read-more:hover { background-color: #05adab; }
.site_wrapper .cd-timeline-content .cd-date strong {
	background-color: #05adab;
}
.site_wrapper .cd-timeline-content .cd-date strong {
	background: #05adab;
}
.site_wrapper .cd-timeline-content .cd-date strong:after {
	border-right-color: #05adab;
}
.site_wrapper .cd-timeline-content .cd-date b {
	background-color: #05adab;
}
.site_wrapper .cd-timeline-content .cd-date b {
	background: #05adab;
}
.site_wrapper .cd-timeline-content .cd-date b:after {
	border-left-color: #05adab;
}

.features_sec38 h6 {
	color: #05adab;
}

.flips2_back {
	background-color:#05adab;
}
.flips3_front.flipscont3 i {
	color: #05adab;
}
.flips3_back {
	background-color:#05adab;
}
.flips4_back h5 a:hover {
	color: #05adab;
}

.but_small1 {
	background-color: #05adab;
}
.but_small1.gray:hover {
	background-color: #05adab;
}
.but_small3 {
	background-color: #05adab;
}
.but_small2 {
	background-color: #05adab;
}
.but_small4 {
	background-color: #05adab;
}
.but_small5 {
	color: #05adab;
	border: 2px solid #05adab;
}
.but_small5.light:hover {
	color: #05adab;
}
.but_small5.light2:hover {
	color: #05adab;
}

.but_medium1 {
	background-color: #05adab;
}
.but_medium3 {
	background-color: #05adab;
}
.but_medium2 {
	background-color: #05adab;
}
.but_medium4 {
	background-color: #05adab;
}
.but_medium5 {
	color: #05adab;
	border: 2px solid #05adab;
}

.but_large1 {
	background-color: #05adab;
}
.but_large1.small {
	background-color: #05adab;
}
.but_large3 {
	background-color: #05adab;
}
.but_large2 {
	background-color: #05adab;
}
.but_large4 {
	background-color: #05adab;
}
.but_large4.white {
	color: #05adab;
}
.but_large5 {
	color: #05adab;
	border: 2px solid #05adab;
}
.but_full2 .butprogress {
	background: #05adab;
}

.stcode_title4 .line{
    background: #05adab;
}
.stcode_title5 .line{
    background: #05adab;
}
.stcode_title7 .line{
    background: #05adab;
}
.stcode_title12 h2{
	color: #05adab;
}

.button.transp2 {
	background: #05adab;
}

.counters2 i {
	color: #05adab;
}
.counters3 .one_fourth.white i {
	color: #05adab;
}
.counters3 .one_fourth.one {
	color: #05adab;
}
.counters3 .one_fourth.one i {
	color: #05adab;
}
.counters3 .one_fourth.two {
	color: #05adab;
}
.counters3 .one_fourth.two i {
	color: #05adab;
}
.counters4 {
	color: #05adab;
}

.features_sec62 .box .icon:hover {
	color: #05adab;
}

.pricingtable3 li.title.act {
	background-color: #05adab;
}
.pricingtable3 li.hecont.act strong {
	background-color: #05adab;
}
.pricingtable3 li.price.act h1 {
	color: #05adab;
}


.hexagon:hover i {
	color: #05adab;
}

.sidebar_widget ul.arrows_list1 li a {
	color: #05adab;
}
.recent_posts_list li a:hover {
	color: #05adab;
}

.fati4 {
	background-color: #05adab;
}
.fati5 {
	color: #05adab;
	border: 1px solid #05adab;
}
.fati9 {
	color: #05adab;
	border: 5px solid #05adab;
}
.fati19:hover {
	color: #05adab;
}

.big_text1 i {
	color: #05adab;
}

.error_pagenotfound em {
	color: #05adab;
}

.small_social_links li i {
	color: #05adab;
}

.site_wrapper .cbp-l-caption-buttonLeft,
.site_wrapper .cbp-l-caption-buttonRight{
	background-color: #05adab;
}
.site_wrapper .cbp-l-filters-dropdownWrap{
	background: #05adab;
}

.site_wrapper .cbp-l-grid-masonry .cbp-caption-activeWrap.two:hover .cbp-l-caption-title,
.site_wrapper .cbp-l-grid-masonry .cbp-caption-activeWrap.three:hover .cbp-l-caption-title {
	color: #05adab;
}

.blog_post h3 a {
	color: #05adab;
}
.blog_post a.date:hover {
	color: #05adab;
}
.sharepost li {
	background-color: #05adab;
}
.about_author a:hover {
	color: #05adab;
}

.divider_line11 {
	background: url(../../images/colors/green/h-line5.png) no-repeat center bottom;
}

.alertymes2 {
	background-color: #05adab;
}

.site_wrapper #bar{
  background: #05adab;
}

.pop-wrapper2.colored li a span{
	border: 4px solid #05adab;
	background: #05adab;
}
.pop-wrapper2.colored  li a span:after{
	border-top: 10px solid #05adab;
}



a {
	color: #05adab;
}

.color {
	color: #05adab;
}

.but_small3 span {
    background-color: #24a944;
}
.but_medium3 span {
    background-color: #24a944;
}
.but_large3 span {
    background-color: #24a944;
}

.pricing-tables-helight .title {
	background-color: #2fb24f;
	border-top: 3px solid #1fa03e;
	border-bottom: 1px solid #51d371;
}
.pricing-tables-helight .price {
	background-color: #05adab;
}
.pricing-tables-helight-two .title {
	background-color: #2fb24f;
	border-top: 3px solid #1fa03e;
	border-bottom: 1px solid #51d371;
}
.pricing-tables-helight-two .price {
	background-color: #05adab;
}
.pricing-tables-main .ordernow .colorchan{
	color: #fff;
	background-color: #05adab;
}


.pricingtable1 ul.active li.mostp {
    background-color: #05adab;
}
.pricingtable1 ul.active li.title h4 {
    color: #05adab;
}
.pricingtable1 ul.active li.title h1 {
    color: #05adab;
}

.pricingtable1 ul.active li.planbut a {
    background-color: #05adab;
}
